<div class="row margin-0">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 center-admin-form" id="display_advance">
        <div class="card">
            <form [formGroup]="register" class="sh-signup-form-fix edit-profile">
                <div class="card-header card-header-icon" data-background-color="rose">
                    <i class="fas fa-user-alt"></i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Edit Profile</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group label-floating" [ngClass]="displayFieldCss(register, 'firstname')">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="First Name" type="text" id="firstname" formControlName="firstname"
                                        [(ngModel)]="profile.first_name" value="{{profile.first_name}}" required>
                                     <mat-error *ngIf="register.controls.firstname.value == ''">
                                        <strong>First name cannot be empty</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group label-floating" [ngClass]="displayFieldCss(register, 'lastname')">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Last Name" type="text" id="lastname" formControlName="lastname"
                                        [(ngModel)]="profile.last_name" value="{{profile.last_name}}" required>
                                    <mat-error *ngIf="register.controls.lastname.value == ''">
                                        <strong>Last name cannot be empty</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group label-floating" [ngClass]="displayFieldCss(register, 'companyname')">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Company Name" type="text" id="companyname"
                                        formControlName="companyname" [(ngModel)]="personal.company" value="{{personal.company}}"
                                        required>
                                    <mat-error *ngIf="register.controls.companyname.value == ''">
                                        <strong>Company name cannot be empty</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group label-floating" [ngClass]="displayFieldCss(register, 'address')">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Address" type="text" id="address" formControlName="address"
                                        [(ngModel)]="personal.address" value="{{personal.address}}" required>
                                    <mat-error *ngIf="register.controls.address.value == ''">
                                        <strong>Address cannot be empty</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-sm-6">
                                    <div class="form-group label-floating" [ngClass]="displayFieldCss(register, 'state')">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="State" type="text" id="state" formControlName="state"
                                                [(ngModel)]="personal.state" value="{{personal.state}}" required>
                                            <mat-error *ngIf="register.controls.state.value == ''">
                                                <strong>State cannot be empty</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                        <div class="col-sm-6">
                            <div class="form-group label-floating" [ngClass]="displayFieldCss(register, 'city')">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="City" type="text" id="city" formControlName="city"
                                        [(ngModel)]="personal.city" value="{{personal.city}}" required>
                                    <mat-error *ngIf="register.controls.city.value == ''">
                                        <strong>City cannot be empty</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group label-floating" [ngClass]="displayFieldCss(register, 'country')">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Country" type="text" id="country" formControlName="country"
                                        [(ngModel)]="personal.country" value="{{personal.country}}" required>
                                    <mat-error *ngIf="register.controls.country.value == ''">
                                        <strong>Country cannot be empty</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                                <div class="form-group label-floating" [ngClass]="displayFieldCss(register, 'zipcode')">
                                    <mat-form-field>
                                        <input matInput type="text" id="zipcode" (ngModelChange)="zipcodeCheck(zipcode1.value)"
                                            #zipcode1 [(ngModel)]="personal.zipcode" formControlName="zipcode" value="{{personal.zipcode}}"
                                            placeholder="Zip Code" maxlength="5" required />
                                        <mat-error *ngIf="register.controls.zipcode.value == ''">
                                            <strong>Zip Code cannot be empty</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group label-floating" [ngClass]="displayFieldCss(register, 'phone')">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Phone No" type="text" [textMask]="{mask: phoneMask}"
                                        id="phone" formControlName="phone" [(ngModel)]="personal.phone_no" value="{{personal.phone_no}}"
                                        required>
                                    <mat-error *ngIf="register.controls.phone.value == ''">
                                        <strong>Phone# cannot be empty</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group label-floating" [ngClass]="displayFieldCss(register, 'email')">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email" type="text" id="email" formControlName="email"
                                        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="profile.email"
                                        value="{{profile.email}}" disabled>
                                </mat-form-field>
                                <app-field-error-display [displayError]="isFieldValid(register, 'email')" errorMsg="Email is required and format should be john@doe.com.">
                                </app-field-error-display>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group label-floating" [ngClass]="displayFieldCss(register, 'username')">

                                <input matInput type="text" id="username" formControlName="username" [(ngModel)]="profile.username"
                                    value="{{profile.username}}" hidden>
                                <app-field-error-display [displayError]="isFieldValid(register, 'username')" errorMsg="Enter a valid First Name.">
                                </app-field-error-display>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                <h4 class="panel-title">
                                    <span>Please select the RFP category, for which you would like to receive RFP (Bids
                                        Alerts)</span>
                                    <i class="glyphicon pull-right glyphicon-chevron-down"></i>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <ul class="rfp-cat">
                                        <div class="form-group label-floating">
                                            <div class="col-md-4">
                                                <mat-form-field>
                                                        <mat-select placeholder="Category" [formControl]="catess" multiple (change)="valueSelected(catess.value, $event)">
                                                          <mat-option *ngFor="let food of cat" [value]="food.category">{{food.category}}</mat-option>
                                                        </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-8">
                                            <mat-form-field class="example-chip-list" *ngIf="tempUserPreference !=null">
                                                        <mat-chip-list #chipList>
                                                          <mat-chip *ngFor="let list of tempUserPreference; let i=index" [selectable]="selectable"
                                                                   [removable]="removable" (removed)="remove(list, $event)">
                                                                   {{list}}
                                                            <mat-icon matChipRemove *ngIf="removable"><i class="fa fa-close " (change)="remove(list, $event)"></i></mat-icon>
                                                          </mat-chip>
                                                          <input
                                                                 [matChipInputFor]="chipList"
                                                                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                                 [matChipInputAddOnBlur]="addOnBlur"
                                                                >
                                                        </mat-chip-list>
                                            </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                            <mat-form-field>
                                                            <mat-select placeholder="State" [formControl]="states" multiple (change)="valueSelected1(states.value, $event)">
                                                              <mat-option *ngFor="let food of state" [value]="food.state">{{food.state}}</mat-option>
                                                            </mat-select>
                                            </mat-form-field>
                                            </div>
                                            <div class="col-md-8">
                                            <mat-form-field class="example-chip-list" *ngIf="tempstatePreference !=null">
                                                            <mat-chip-list #chipList>
                                                              <mat-chip *ngFor="let list of tempstatePreference; let i=index" [selectable]="selectable"
                                                                       [removable]="removable" (removed)="remove1(list, $event)">
                                                                       {{list}}
                                                                <mat-icon matChipRemove *ngIf="removable"><i class="fa fa-close " (change)="remove1(list, $event)"></i></mat-icon>
                                                              </mat-chip>
                                                              <input
                                                                     [matChipInputFor]="chipList"
                                                                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                                     [matChipInputAddOnBlur]="addOnBlur"
                                                                    >
                                                            </mat-chip-list>
                                            </mat-form-field>
                                            </div>
                                            
                                            <div class="col-md-4">
                                                    <mat-form-field>
                                                            <mat-select placeholder="Agencies" [formControl]="agencies" multiple (change)="valueSelected4(agencies.value, $event)">
                                                              <mat-option *ngFor="let food of agency" [value]="food.agency">{{food.agency}}</mat-option>
                                                            </mat-select>
                                            </mat-form-field>
                                            </div>
                                            <div class="col-md-8">
                                                    <mat-form-field class="example-chip-list" *ngIf="tempagencyPreference !=null">
                                                            <mat-chip-list #chipList>
                                                              <mat-chip *ngFor="let list of tempagencyPreference; let i=index" [selectable]="selectable"
                                                                       [removable]="removable" (removed)="remove4(list, $event)">
                                                                       {{list}}
                                                                <mat-icon matChipRemove *ngIf="removable"><i class="fa fa-close " (change)="remove4(list, $event)"></i></mat-icon>
                                                              </mat-chip>
                                                              <input
                                                                     [matChipInputFor]="chipList"
                                                                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                                     [matChipInputAddOnBlur]="addOnBlur"
                                                                    >
                                                            </mat-chip-list>
                                    </mat-form-field> 


                                                    
                                            </div>
                                            <div class="col-md-4">
                                                    <mat-form-field>
                                                            <mat-select placeholder="County" [formControl]="counties" multiple (change)="valueSelected3(counties.value, $event)">
                                                              <mat-option *ngFor="let food of county" [value]="food.name">{{food.name}}</mat-option>
                                                            </mat-select>
                                        </mat-form-field>
                                                </div>
                                                <div class="col-md-8">
                                                        <mat-form-field class="example-chip-list" *ngIf="tempcountyPreference !=null">
                                                                <mat-chip-list #chipList>
                                                                  <mat-chip *ngFor="let list of tempcountyPreference; let i=index" [selectable]="selectable"
                                                                           [removable]="removable" (removed)="remove3(list, $event)">
                                                                           {{list}}
                                                                    <mat-icon matChipRemove *ngIf="removable"><i class="fa fa-close " (change)="remove3(list, $event)"></i></mat-icon>
                                                                  </mat-chip>
                                                                  <input
                                                                         [matChipInputFor]="chipList"
                                                                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                                         [matChipInputAddOnBlur]="addOnBlur"
                                                                        >
                                                                </mat-chip-list>
                                            </mat-form-field>

                                                </div>
                                                <div class="col-md-4">
                                                        <mat-form-field>
                                                                <mat-select placeholder="City" [formControl]="cities" multiple (change)="valueSelected2(cities.value, $event)">
                                                                  <mat-option *ngFor="let food of city" [value]="food.name">{{food.name}}</mat-option>
                                                                </mat-select>
                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-8">
                                                            <mat-form-field class="example-chip-list"  *ngIf="tempcityPreference !=null">
                                                                    <mat-chip-list #chipList>
                                                                      <mat-chip *ngFor="let list of tempcityPreference; let i=index" [selectable]="selectable"
                                                                               [removable]="removable" (removed)="remove2(list, $event)">
                                                                               {{list}}
                                                                        <mat-icon matChipRemove *ngIf="removable"><i class="fa fa-close " (change)="remove2(list, $event)"></i></mat-icon>
                                                                      </mat-chip>
                                                                      <input
                                                                             [matChipInputFor]="chipList"
                                                                             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                                             [matChipInputAddOnBlur]="addOnBlur"
                                                                            >
                                                                    </mat-chip-list>
                                                     </mat-form-field>
                                                    </div>
            
                                            </div>
                                              
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="form-footer text-right">
                        <!-- <div class="checkbox pull-left">
                            <label style="font-size: 18px">
                                <input type="checkbox" [(ngModel)]="personal.newsletter" value="{{personal.newsletter}}"
                                    name="newsletter" formControlName="newsletter"> Subscribe to Newsletter
                            </label>
                        </div> -->
                        <div *ngIf="!pkgsub">
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" style="width:30%;" class="btn btn-lrg btn-rose btn-fill btn-wd"
                                (click)="onRegister()">Update</button>
                        </div>
                    </div>
             
            </form>
        </div>
    </div>
</div>
