<div id="wrapper" [ngClass]="{'search-active': mainSearch === 1}">
  <div class="search-outer" [ngClass]="{'active': mainSearch === 1}">
  <div class="container">
 
 
  <div class="search-holder">
  <input ngAutoFocus type="search" value="{{query}}" name=querysearch [(ngModel)]="query" #querysearch="ngModel"
  (ngModelChange)=filter(query) (keyup.enter)=fund(query) placeholder="Search RFPGurus" id="textsearch">
 
  <!-- <app-input class="sh-mat-input" showInput = false (error)="onError($event)" (spokenText)="response($event)" ></app-input> -->
 
  <i id="box" class="fa fa-microphone" (click)="triggerMike()"></i>
 
  <i class="fa fa-close" id="iconClose" (click)="closeSearch()"></i>
  </div>
 
  <div class="search-results" *ngIf="Rfp">
  <ul class="list-normal">
  <li *ngIf="!Rfp">
  <p>No results found. Please use keywords.</p>
  </li>
  <li *ngFor="let item of Rfp">
  <a style="cursor:pointer" (click)="singlerfp(item.seoTitleUrl)">
  <i class="material-icons">arrow_forward</i> {{item.title}} </a>
  </li>
  </ul>
  </div>
  </div>
  </div>
 </div>
 
 
 
 <div class="header-home navbar-transparent ">
  <!-- <div class="mainheader sh" *ngIf="!check_login()">
  <p class="info-bar">
  <i class="material-icons">phone</i>CALL TOLL FREE: <a href="tel:+1 (888) 764-0100" style="color:#c00">+1 (888)
  764-0100</a> Email: contact@rfpgurus.com
  </p>
  <div style="display: flex; flex-direction: row;">
  <mat-list class="items mat-list" role="list">
  <a routerLink="/contact-us">
  <p role="listitem">
  Contact Us
  </p>
  </a>
  <a routerLink="/faqs">
  <p role="listitem">
  Help
  </p>
  </a>
  <a routerLink="/login">
  <p role="listitem">
  My Account
  </p>
  </a>
  </mat-list>
  <mat-list class="socialLinks mat-list" role="list1">
  <a href="https://www.facebook.com/RFPGurus-757980041074297/" target="_blank">
  <span role="listitem">
  <i class="fa fa-facebook"></i>
  </span>
  </a>
  <a href="https://twitter.com/RFPGurus" target="_blank">
  <span role="listitem">
  <i class="fa fa-twitter"></i></span>
  </a>
  <a href="https://www.pinterest.com/RFPGurus/" target="_blank">
  <i class="fa fa-pinterest-p"></i>
  </a>
  <a routerlink="" target="_blank">
  <span role="listitem">
  <i class="fa fa-linkedin"></i>
  </span>
  </a>
  </mat-list>
  </div>
  </div> -->
  <nav class="nav-home ">
 
  <div class="navbar-header ">
  <button class="navbar-toggle" data-target="#menu-example" data-toggle="collapse" type="button">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </button>
  <a routerLink="/" class="logo">
  <img src="../../assets/img/logo.png" alt="RFPGurus" />
  </a>
  </div>
  <div class="collapse navbar-collapse " id="menu-example">
  <div class="navbar-right navbar-nav">
  <ul class="navbar-nav sh-main-options">
  <li>
  <a routerLink="/latest-rfp" routerLinkActive="Active">
  <i class="fa fa-stack-overflow" aria-hidden="true"></i>Latest RFP's
  </a>
  </li>
  <li >
  <a routerLink="/advanced-search" routerLinkActive="Active">
  <i class="fas fa-search"></i>Advanced Search
  </a>
  </li>
 
  <li class="">
  <a routerLink="/find-bids" routerLinkActive="Active">
  <i class="fa fa-user-plus" aria-hidden="true"></i> Find RFP's
  </a>
  </li>
  <li class="" *ngIf="!subscribe">
  <a routerLink="/pricing" routerLinkActive="Active">
  <i class="fa fa-shopping-cart" aria-hidden="true"></i> Pricing
  </a>
  </li>
  <li>
  <a routerLink="/all-agencies">
  <i class="fa fa-building-o" aria-hidden="true"></i>Agencies
  </a>
  </li>
  <li>
  <a routerLink="/features-comparison" routerLinkActive="Active">
  <i class="fa fa-bar-chart" aria-hidden="true"></i>Comparison
  </a>
  </li>
  <li class="vanders ">
  <a href="javascript:void(0)" routerLinkActive="Active">
  <i class="fa fa-question-circle-o"></i> Why RFPGurus?
  </a>
  <div class="drop-downs sh-why">
  <ul class="nav-vanders why-rfp-sublist sh">
  <li>
  <a routerLink="/why-rfpgurus">
  <i class="fa fa-question-circle-o"></i> Why RFPGurus?
  </a>
  </li>
  <li>
  <a routerLink="/how-it-works">
  <i class="fa fa-fire"></i> How it Works?
  </a>
  </li>
  <li>
  <a routerLink="/our-team">
  <i class="fa fa-flask"></i> Our Expert Team
  </a>
  </li>
  <li>
  <a routerLink="/what-we-do">
  <i class="fa fa-cube"></i> What We Do?
  </a>
  </li>
  <li>
  <a routerLink="/faqs">
  <i class="fa fa-leanpub"></i> FAQs
  </a>
  </li>
  <li>
  <a routerLink="/what-is-rfp">
  <i class="fa fa-leaf"></i> What is RFPGurus?
  </a>
  </li>
  <li>
  <a routerLink="/who-are-we">
  <i class="fa fa-plus"></i> Who are We?
  </a>
  </li>
  </ul>
  </div>
  </li>
  <li>
  <a routerLink="/rfp-as-service" routerLinkActive="Active">
  <i class="fa fa-briefcase" aria-hidden="true"></i>RFP as a Service
  </a>
  </li>
  </ul>
  <!--.............-->
  <ul class="navbar-nav sh-android-apple">
  <li class="heart-li" *ngIf="check_login()">
  <a routerLink="/" title="Watchlist">
  <i class="fa fa-heart"></i>
  <sup>{{total}}</sup>
  </a>
  <div class="heart-sub-meun">
  <div class="heart-full-div">
 
  <div class="heart" *ngFor="let data of wrfp; let i = index">
  <div class="addtocart-time" data-target="#myModal3" data-toggle="modal" (click)="get(data?.wrfp.id,data?.wrfp.title)">
  <i class="fa fa-times"></i>
  </div>
  <div class="heart-main-div">
  <!-- <img src="{{Imageurl}}{{data?.course.course_thumbnail}}" class="heart-img" alt="Course"> -->
  <div class="heart-contact">
  <a [routerLink]="['/rfp/', data?.wrfp.seoTitleUrl]"> <div class="heart-heading" style="cursor:pointer">
  {{data?.wrfp.title}}
  </div></a>
  <div class="heart-detail plan-detail" [routerLink]="['/rfp/', data?.wrfp.seoTitleUrl]" style="cursor:pointer">
  <h5><i class="fa fa-university"></i>Category : <span>{{data?.wrfp.category}}</span></h5>
  <h5><i class="fa fa-fort-awesome"></i>State : <span>{{data?.wrfp.state}}</span></h5>
  <h5 *ngIf="data?.wrfp.agency"><i class="fa fa-building-o"></i>Agency : <span>{{data?.wrfp.agency}}</span></h5>
  </div>
  <!-- <div class="heart-price">
  <span class="heart-new-price">{{data.course.price | currency:'USD'}}</span>
  <span class="discount-p">{{data?.course.discount | currency:'USD'}}
  <i class="fas fa-arrow-down"></i>
  </span>
  </div> -->
  </div>
  </div>
 
  </div>
 
 
 
 
  </div>
  <div class="wishlist-btn-div" *ngIf="check_login()">
  <a routerLink="/my-watchlist" class="addtocart-btn">Go to Watchlist</a>
  </div>
  </div>
  <!-- </a> -->
  </li>
  <li class="heart-li" *ngIf="check_login()">
  <a routerLink="/" title="Notification">
  <i class="fa fa-bell"></i>
  <sup *ngIf="unread >=1">{{unread}}</sup>
  </a>
  <div class="heart-sub-meun">
  <div class="heart-full-div">
  
                <div class="heart" *ngFor="let item of notificate">
                  <div class="addtocart-time" (click)="deletenofication(item?.id)">
                    <i class="fa fa-times"></i>
                  </div>
                  <div class="heart-main-div">
                    <div class="heart-contact">
                        <a [routerLink]="['/rfp/', item.target]"> <div class="heart-heading" style="cursor:pointer">
                            {{item.type_of_notification}}
                         </div></a>
                      <div class="heart-detail plan-detail"*ngIf="item.read == false">
                        <h5 style="cursor:pointer"  (click)="single(item.target);updatenofication(item.id)"> {{item.description}}</h5>
                      </div>
                      <div class="heart-detail plan-detail sh-notification-seen" *ngIf="item.read == true">
                          <h5 (click)="single(item.target);updatenofication(item?.id)"> {{item.description}}</h5>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wishlist-btn-div" *ngIf="check_login()">
                <a routerLink="/notifications" class="addtocart-btn">All Notifications</a>
              </div>
            </div>
            <!-- </a> -->
          </li>
        <li>
          <a href="https://play.google.com/store/apps/details?id=com.brainplow.rfpgurus" target="_blank">
            <i class="fa fa-android"></i>
          </a>
        </li>
        <li>
          <a routerLink="">
            <i class="fa fa-apple"></i>
          </a>
        </li>
        <li class="dropdown cartmenu searchmenu hasmenu">
          <a id="search" style="cursor:pointer" (click)="openSearch()" class="dropdown-toggle">
            <i class="material-icons">search</i>
          </a>
        </li>
      </ul>
        <!--............-->
      <ul class="navbar-nav sh-signin-signup">
        <li *ngIf="check_login()" class="vanders">
          <a routerLink="/profile">
            <i class="fa fa-user" aria-hidden="true"></i> My RFPGurus
          </a>
          <div class="profile-name drop-downs" style="right:163%;">
            <ul class="nav-vanders  why-rfp-sublist">
                <li *ngIf="check_login()">
                    <a routerLink="/Preferences">
                      <i class="far fa-newspaper"></i> RFP Preferences</a>
                  </li>
                  <li *ngIf="check_login()">
                      <a routerLink="/bid-notifications">
                          <i class="fa fa-bell"></i>
                        Bid Notifications</a>
                    </li>
                    <li *ngIf="check_login()">
                        <a routerLink="/my-watchlist">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                          My Watchlist</a>
                      </li>                 
              <li *ngIf="check_login()">
                <a routerLink="/profile">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
               Profile</a>
              </li>
              <li *ngIf="check_login()">
                  <a routerLink="/purchase-history">
                    <i class="fa fa-history" aria-hidden="true"></i>
                    Subscription</a>
                </li>   
                <li *ngIf="check_login()">
                    <a routerLink="/payment">
                      <i class="fa fa-money" aria-hidden="true"></i>
                      Payment Methods</a>
                  </li>
              <li *ngIf="check_login()">
                <a routerLink="/change-password">
                  <i class="fas fa-key" ria-hidden="true"></i>
                  Change Password</a>
              </li>
              <li *ngIf="check_login()">
                <a routerLink="/contact-us">
                  <i class="fa fa-comment" aria-hidden="true"></i>
                  Feedback</a>
              </li>
              <li *ngIf="check_login()" class="">
                <a (click)="logout()" style="cursor:pointer">
                    <i class="fas fa-sign-out-alt" aria-hidden="true"></i> Sign out</a>
              </li>
            </ul>
          </div>
        </li>
        <li *ngIf="!check_login()" class="">
          <a routerLink="/login" routerLinkActive="Active">
            <i class="fas fa-fingerprint"></i> Sign in
          </a>
        </li>
        <li *ngIf="!check_login()" class="">
          <a routerLink="/sign-up" routerLinkActive="Active">
            <i class="fa fa-unlock" aria-hidden="true"></i>
            Sign up
          </a>
        </li>
        <!--............-->
      </ul>
      </div>
    </div>
  </nav>
 </div>
 
 
 <!-- Modal -->
 <div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog">
 
  <!-- Modal content-->
  <div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times btn-dismiss"></i></button>
  <h4 class="modal-title heading-modal">{{title}}</h4>
  </div>
  <div class="modal-body text-center padding-zero">
  <h4>Are You Sure To Remove From The Watchlist?</h4>
  </div>
  <div class="modal-footer">
  <div class="modal-buttons">
  <button type="button" class="btn btn-default" (click)="deletewatchlist()" data-dismiss="modal">Yes</button>
  <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
  </div>
  </div>
  </div>
 
  </div>
 </div>