<!-- <app-header></app-header> -->
<div class="white-bg sh-why-rfpgurus">
  <div class="container">
    <h2 class="text-center">Why RFPGurus?</h2>
    <p>Hundreds of Thousands RFPs - One Platform: The largest database of Nationwide RFPs & the Industry’s most comprehensive Feature Set. RFPGurus catalyzes your Government Bidding Prospects the Smart Way! Unbeatable Pricing. One-Package-Includes-All. Every Feature/RFP Included Nationwide. No Gimmicks. No Hidden Fees. Next generation Web, iOS & Android Mobile Apps. RFPGurus is your essential WINNING Partner for RFP Government Bidding!</p>
  </div>
</div>
<section  id="f-c">
  <div  class=" container-wide ">
    <h2  class="title text-center">How we stack up against the Competition?</h2>
    <p  class="text-center" style="font-weight:700;margin:0 0 30px;">Unbeatable Pricing, One-Package-Includes-All, Every Feature/RFP Included Nationwide,
      <br />No Gimmicks, No Hidden Fees, Next generation Web, iOS & Android Mobile Apps.</p>
    <div  class="com-table">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Features</th>
          <th>RFPGurus</th>
          <!--<th>GovernmentBids</th>-->
          <th>RFPMart</th>
          <th>VendorLine</th>
          <th>AllGovBids</th>
          <!--<th>FindRFP</th>-->
          <th>BidNetDirect</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <strong>Average Pricing / Year</strong>
          </td>
          <td>$ 249.99</td>
          <!--<td>$ 1572</td>-->
          <td>$ 1200</td>
          <td>$ 295</td>
          <td>$ 270</td>
          <!--<td>$ 299.50</td>-->
          <td>$ 1320</td>
        </tr>
        <tr>
          <td>
            <strong>Bid Matching Artificial Intelligence (AI)</strong>
          </td>
          <td>
            <i class="fa fa-check"></i>
          </td>
          <!--<td>-->
          <!--<i class="fa fa-times"></i>-->
          <!--</td>-->
          <td>
            <i class="fa fa-times"></i>
          </td>
          <td>
            <i class="fa fa-times"></i>
          </td>
          <td>
            <i class="fa fa-times"></i>
          </td>
          <!--<td>-->
          <!--<i class="fa fa-times"></i>-->
          <!--</td>-->
          <td>
            <i class="fa fa-times"></i>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Upcoming Bids</strong>
          </td>
          <td>
            <i class="fa fa-check"></i>
          </td>
          <!--<td>-->
          <!--<i class="fa fa-check"></i>-->
          <!--</td>-->
          <td>
            <i class="fa fa-times"></i>
          </td>
          <td>
            <i class="fa fa-times"></i>
          </td>
          <td>
            <i class="fa fa-times"></i>
          </td>
          <!--<td>-->
          <!--<i class="fa fa-times"></i>-->
          <!--</td>-->
          <td>
            <i class="fa fa-times"></i>
          </td>
        </tr>
        <tr>
          <td>
            <strong>State & Local Agency Bids</strong>
          </td>
          <td>
            <i class="fa fa-check"></i>
          </td>
          <!--<td>-->
          <!--<i class="fa fa-check"></i>-->
          <!--</td>-->
          <td>
            <i class="fa fa-check"></i>
          </td>
          <td>
            <i class="fa fa-check"></i>
          </td>
          <td>
            <i class="fa fa-check"></i>
          </td>
          <!--<td>-->
          <!--<i class="fa fa-check"></i>-->
          <!--</td>-->
          <td>
            <i class="fa fa-check"></i>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Federal Agency Bids</strong>
          </td>
          <td>
            <i class="fa fa-check"></i>
          </td>
          <!--<td>-->
          <!--<i class="fa fa-check"></i>-->
          <!--</td>-->
          <td>
            <i class="fa fa-check"></i>
          </td>
          <td>
            <i class="fa fa-check"></i>
          </td>
          <td>
            <i class="fa fa-check"></i>
          </td>
          <!--<td>-->
          <!--<i class="fa fa-check"></i>-->
          <!--</td>-->
          <td>
            <i class="fa fa-check"></i>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Daily Email Bid Alerts & Notifications</strong>
          </td>
          <td>
            <i class="fa fa-check"></i>
          </td>
          <!--<td>-->
          <!--<i class="fa fa-check"></i>-->
          <!--</td>-->
          <td>
            <i class="fa fa-check"></i>
          </td>
          <td>
            <i class="fa fa-check"></i>
          </td>
          <td>
            <i class="fa fa-check"></i>
          </td>
          <!--<td>-->
          <!--<i class="fa fa-check"></i>-->
          <!--</td>-->
          <td>
            <i class="fa fa-check"></i>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Search Engine</strong>
          </td>
          <td>
            <i class="fa fa-check"></i>
          </td>
          <!--<td>-->
          <!--<i class="fa fa-check"></i>-->
          <!--</td>-->
          <td>
            <i class="fa fa-check"></i>
          </td>
          <td>
            <i class="fa fa-check"></i>
          </td>
          <td>
            <i class="fa fa-check"></i>
          </td>
          <!--<td>-->
          <!--<i class="fa fa-check"></i>-->
          <!--</td>-->
          <td>
            <i class="fa fa-check"></i>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Android Mobile App</strong>
          </td>
          <td>
            <i class="fa fa-check"></i>
          </td>
          <!--<td>-->
          <!--<i class="fa fa-times"></i>-->
          <!--</td>-->
          <td>
            <i class="fa fa-times"></i>
          </td>
          <td>
            <i class="fa fa-times"></i>
          </td>
          <td>
            <i class="fa fa-times"></i>
          </td>
          <!--<td>-->
          <!--<i class="fa fa-times"></i>-->
          <!--</td>-->
          <td>
            <i class="fa fa-times"></i>
          </td>
        </tr>
        <tr>
          <td>
            <strong>iOS Mobile App</strong>
          </td>
          <td>
            <i class="fa fa-check"></i>
          </td>
          <!--<td>-->
          <!--<i class="fa fa-times"></i>-->
          <!--</td>-->
          <td>
            <i class="fa fa-times"></i>
          </td>
          <td>
            <i class="fa fa-times"></i>
          </td>
          <td>
            <i class="fa fa-times"></i>
          </td>
          <!--<td>-->
          <!--<i class="fa fa-times"></i>-->
          <!--</td>-->
          <td>
            <i class="fa fa-times"></i>
          </td>
        </tr>
        <!-- <tr>
          <td>
            <strong>Electronic Bid Submission</strong>
          </td>
          <td>
            <i class="fa fa-check"></i>
          </td>
          <td>
            <i class="fa fa-times"></i>
          </td>
          <td>
            <i class="fa fa-times"></i>
          </td>
          <td>
            <i class="fa fa-times"></i>
          </td>
          <td>
            <i class="fa fa-times"></i>
          </td>
          <td>
            <i class="fa fa-times"></i>
          </td>
          <td>
            <i class="fa fa-check"></i>
          </td>
        </tr> -->
        <tr>
          <td>
            <strong>Winning Bidder Insight</strong>
          </td>
          <td>
            <i class="fa fa-check"></i>
          </td>
          <!--<td>-->
          <!--<i class="fa fa-times"></i>-->
          <!--</td>-->
          <td>
            <i class="fa fa-times"></i>
          </td>
          <td>
            <i class="fa fa-times"></i>
          </td>
          <td>
            <i class="fa fa-times"></i>
          </td>
          <!--<td>-->
          <!--<i class="fa fa-times"></i>-->
          <!--</td>-->
          <td>
            <i class="fa fa-times"></i>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Technical Support Chat</strong>
          </td>
          <td>
            <i class="fa fa-check"></i>
          </td>
          <!--<td>-->
          <!--<i class="fa fa-times"></i>-->
          <!--</td>-->
          <td>
            <i class="fa fa-times"></i>
          </td>
          <td>
            <i class="fa fa-times"></i>
          </td>
          <td>
            <i class="fa fa-check"></i>
          </td>
          <!--<td>-->
          <!--<i class="fa fa-times"></i>-->
          <!--</td>-->
          <td>
            <i class="fa fa-times"></i>
          </td>
        </tr>
        <tr>
          <td>
            <strong>RFP as a Service*</strong>
          </td>
          <td>
            <i class="fa fa-check"></i>
          </td>
          <!--<td>-->
          <!--<i class="fa fa-times"></i>-->
          <!--</td>-->
          <td>
            <i class="fa fa-times"></i>
          </td>
          <td>
            <i class="fa fa-times"></i>
          </td>
          <td>
            <i class="fa fa-times"></i>
          </td>
          <!--<td>-->
          <!--<i class="fa fa-times"></i>-->
          <!--</td>-->
          <td>
            <i class="fa fa-times"></i>
          </td>
        </tr>

        </tbody>
      </table>


    </div>
  </div>
</section>
<!-- <app-footer-cmp></app-footer-cmp> -->