.mat-horizontal-content-container{
    padding:0px !important;
}
.ng-deep .mat-input-underline {
    display: none;
}
.form button {
    background: linear-gradient(180deg, #60aba6, #1d3d44) !important
}
.credit-card-box label {
    text-transform: capitalize;
    opacity: 0.9;
}
