<div class="terms-container-wrapper">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="terms-condition-wrapper container">
        <h1>Privacy Policy</h1>
        <hr>
        <h3>At RFPgurus your security is essential to us and we are focused on ensuring your protection. We utilize the
          data we gather about you to carry out all the services we provide. We don't offer or sell your personal data
          to outsiders for their advertising purposes. You may read further to learn more about RFPgurus privacy and
          policy.</h3>
        <h2>Privacy policy updates</h2>
        <p>We claim all authority to refresh this Privacy Policy at any time and so, we urge our site clients to survey
          this Privacy Policy frequently for any changes or updates.</p>
        <h2>Collection of Information</h2>
        <ul class="list-outside">
          <li>When you register we ask for your name, address, email and other personal information. We likewise ask
            for extra detail data when you choose to take an interest or respond to a Bid Request in order to help the
            Buyer make a better decision to settle on a superior choice about picking the correct Supplier/Vendor.</li>
          <li>While using our site, we consequently track certain data including your IP address, what program you are
            utilizing and the URL you just came from.</li>
          <li>We use cookies to log you in and track your activity on RFPgurus by creating a “session”. Cookies are
            small pieces of information that are stored by your browser on your hard drive. You may choose to disable
            cookies if your browser permits, although you may not be able to login and utilize the tools and services
            at RFPgurus.</li>
          <li>Incase if you want to engage into any monetary transaction(s) in future at RFPgurus we require that you
            provide us complete billing information; therefore, for which, additional information including your
            billing address, credit card number, name on credit card, and credit card expiration date is needed.</li>
          <li>If you send us personal correspondence, such as emails or letters, or if other users or third parties
            send us correspondence about your activities on the site, we may collect such information in a specific
            file for you.</li>
        </ul>
        <h2>Use of your information</h2>
        <ul class="list-outside">
          <li>We utilize your own data to facilitate the services you request. We utilize personal data in the records
            we maintain about you. Other data we acquire from your present and past activities on RFPgurus to resolve
            disputes; troubleshoot problems; bill your account; inform you about online and offline offers, products,
            services, and updates; customize your experience; detect and protect us against error, fraud and other
            criminal activity; enforce our User Agreement; and as otherwise described to you at the time of collection,
            use or disclosure. At times we look across multiple users to identify problems or resolve disputes, and in
            particular we may examine your personal information to identify users using multiple User ID's or aliases.
            We may compare and review your personal information for errors, omissions and for accuracy.</li>
          <li>In the event that you open a Credit account, or generally give us your financial information, we utilize
            your address and financial data to bill you and give related help.</li>
          <li>In the absence of a special relationship, we do not pass on your profile information to any third party
            without your express permission.</li>
          <li>We may disclose user information in rare and special cases when we have reason to believe it is necessary
            to identify, contact, or bring legal action against someone who may be causing injury to or interfering
            with RFPgurus rights or property, other RFPgurus users, or anyone else who could be harmed by such
            activities. We may disclose user information when we believe in good faith that the law requires it.</li>
        </ul>
        <h2>Control Passwords</h2>
        <p>You are required to control your password as described in the Terms and Conditions. Incase if you have
          forgotten your password,click the forget password option on the login form. It will inquire you for your
          email address, enter your email address hit ‘OK’. Your password will be emailed to you shortly thereafter.</p>
        <h2>Security</h2>
        <p>While the Internet is not a locked-down environment, RFPguru places a high premium on security and privacy.
          We use Secure Socket Layers (SSL) to encrypt sensitive data you send to us. Access to our site is password
          protected. Credit card information, federal tax identification numbers, and Social Security numbers are
          stored separately from other user information. The physical devices running RFPgurus reside in the country’s
          most respected co-location facility.</p>
        <h2>Changing or updating personal information</h2>
        <ul class="list-outside">
          <li>You have the option to change, update or modify information previously provided by revising your member
            profile online or by contacting RFPguru via email.</li>
          <li>You have the option to change or modify registration information, category profile and company profile
            information online or by contacting RFPguruvia online support. If you are registered as a member with
            RFPgurus all of the information you have provided to RFPgurus will be contained in any of your
            registration, your category profile(s), and your company profile.</li>
          <li>You have the option to change or modify your supplier detail information online when you login.</li>
          <li>You have the option to change or modify your payment information online any time you engage in a monetary
            transaction at RFPgurus (i.e. registering for its service(s) or renewal membership).</li>
        </ul>
        <h2>Your Consent</h2>
        <p>By using our Web site, including all of its services and solutions, you consent to the collection and use of
          the above-described information by RFPgurus. Any changes to this privacy policy will be posted on this page
          for future review so that you are always aware of them.</p>
      </div>
    </div>
  </div>
</div>