<div class="main-content">
  <div class="container-fluid container">
    <section class="residential-main">
        <h3 class="text-center">Need help or want more information about <strong>RFPGurus.com?</strong></h3>
        <hr />
        <mat-tab-group dynamicHeight="true">
          <mat-tab>
            <ng-template mat-tab-label class="col">
              <div class="holder red">
                <div class="img-holder">
                  <i class="material-icons">credit_card</i>
                  <h3 class="text-center title">How RFPGurus Work?
                      
                      </h3>
                </div>
                <div class="txt-holder">

                </div>
                <br><br>
                <div class="btn-holder">
                  <button class="btn btn-info btn-round" type="button" title="Answer">Answer</button>
                </div>
              </div>
            </ng-template>
            <div class="detail-holder red">
           
              <p>
                  We provide Government RFPs, Bids and Tenders documents and other details. Basically, we are paid-search engine services for Government RFPs, Bids, Solicitations and Tenders.
                  
                  We provide only contact details and RFP document to save your research time. So, you first need to pay fees for the contact details and purchase the RFP or Tender Document. After the payment, once you receive RFP document, you can contact government authority and submit your proposal directly.
                  </p>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <div class="holder red">
                <div class="img-holder">
                  <i class="material-icons">credit_card</i>
                  <h3 class="text-center title">Where are the Bids posted from?
                      
                      </h3>
                </div>
                <div class="txt-holder">
                </div>
                <div class="btn-holder">
                  <button  class="btn btn-info btn-round" type="button"title="Answer">Answer</button>
                </div>
              </div>
            </ng-template>
            <div class="detail-holder red">
              <p>
                  All bids posted on our website are the purchasing requirements from Government or Semi-Government Organizations from All Over the World. All posted RFPs, Tenders, Solicitations or Contracts are genuine as they are from Government Agencies from all over the world.            
              </p>      
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <div class="holder red">
                <div class="img-holder">
                  <i class="material-icons">credit_card</i>
                  <h3 class="text-center title">How to get subscription at RFPGurus.com?
                      
                      </h3>
                </div>
                <div class="txt-holder">
                </div>
                <div class="btn-holder">
                  <button class="btn btn-info btn-round" type="button" title="Answer">Answer</button>
                </div>
              </div>
            </ng-template>
            <div class="detail-holder red">
             <p>
                You can make payment via PayPal or on our website. Once we receive payment confirmation, you will receive published RFP document within 12 working hours at your email address. If you make payment for Monthly Subscription, it will also take up to 12 working hours to activate your Monthly Subscription.            
              </p>  
            </div>
          </mat-tab>

          <mat-tab>
              <ng-template mat-tab-label>
                <div class="holder red">
                  <div class="img-holder">
                    <i class="material-icons">credit_card</i>
                    <h3 class="text-center title">How do I run a search?
                        
                        </h3>
                  </div>
                  <br><br>
                  <div class="txt-holder">
                  </div>
                  <div class="btn-holder">
                    <button class="btn btn-info btn-round" type="button" title="Answer">Answer</button>
                  </div>
                </div>
              </ng-template>
              <div class="detail-holder red">
               <p>
                  Decide whether you want to search for bids by Keyword, Region, State/Local categories, Federal categories, or a combination of these, and make your selections from the options and menus.               </p>
              </div>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                  <div class="holder red">
                    <div class="img-holder">
                      <i class="material-icons">credit_card</i>
                      <h3 class="text-center title">How do I set-up My Package?
                          
                          </h3>
                    </div>
                    <div class="txt-holder">
                    </div>
                    <div class="btn-holder">
                      <button class="btn btn-info btn-round" type="button" title="Answer">Answer</button>
                    </div>
                  </div>
                </ng-template>
                <div class="detail-holder red">
                 <p>
                    The "Packaging/Pricing" page provides you with details about your current package and gives you information on how to further enhance your package.                 </p>
                </div>
              </mat-tab>

              <mat-tab>
                  <ng-template mat-tab-label>
                    <div class="holder red">
                      <div class="img-holder">
                        <i class="material-icons">credit_card</i>
                        <h3 class="text-center title">What if I have a problem logging into my account?
                            </h3>
                      </div>
                      <div class="txt-holder">
                      </div>
                      <div class="btn-holder">
                        <button class="btn btn-info btn-round" type="button" title="Answer">Answer</button>
                      </div>
                    </div>
                  </ng-template>
                  <div class="detail-holder red">
                   <p>
                      RFPGurus.com is committed to security in online transactions, authorized by all the major credit card organizations, and uses industry-standard technology encryption and technology safeguards. In addition, we are VeriSign certified for our online transaction security.                   </p>
                  </div>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                      <div class="holder red">
                        <div class="img-holder">
                          <i class="material-icons">credit_card</i>
                          <h3 class="text-center title">What is the best way to log out?
                              
                              
                              
                              </h3>
                        </div>
                        <div class="txt-holder">
                        </div>
                        <div class="btn-holder">
                          <button class="btn btn-info btn-round" type="button"title="Answer" >Answer</button>
                        </div>
                      </div>
                    </ng-template>
                    <div class="detail-holder red">
                     <p>
                        To log out, click on the Log Out link at the top of the page. This will release your session.
                        </p>
                                              <!-- <button routerLink="/pricing" class="btn btn-info btn-round">Pay Online Now</button> -->
                    </div>
                  </mat-tab>

                 
        </mat-tab-group>
    </section>
  </div>
</div>
<!-- <div class="member-special">
  <div class="container">
    <h3 class="title">MEMBER <strong>SPECIAL</strong></h3>
    <p>SIGN UP TODAY AND TAKE ADVANTAGE OF THE LATEST AND GREATEST OUR ENERGY MEMBER SPECIALS!
      <br />
      YOU'LL FIND RAFFLES, FREEBIES, CREDIT GIVEAWAYS AND MORE!</p>
    <button routerLink="/sign-up" class="btn btn-warning btn-lg" title="Go Now">GO NOW! <i class="material-icons">open_in_new</i></button>
  </div>
</div> -->